// Button inline

.button-inline {
    border: none;
    color: $colorPrimary;
    font-size: inherit;
    border-bottom: 0.1rem solid currentColor;
    padding-bottom: 0.2rem;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all 3s;

    & span {
        margin-left: 0.3rem;
        transition: margin-left 0.2s;
    }

    &:hover {
        color: $colorGreyDark-2;

        span {
            margin-left: 0.8rem;
        }
    }

    &:focus {
        outline: none;
        animation: pulstate 1s inherit;
        -webkit-animation: pulsate 1s infinite;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}
