//Overall layout
.details {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: $colorGreyLight-1;
    border-bottom: $line;

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.description {
    background-color: $colorWhite;
    box-shadow: $shadowLight;
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
