.icon {
}

.search__icon {
    height: 2rem;
    width: 2rem;
    fill: $colorGreyDark-3;
}

.user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: $colorGreyLight-4;
}

.side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 0.7rem;
        height: 1.5rem;
    }
}

.overview__location-icon,
.overview__stars-icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: $colorPrimary;
}

.overview__location-icon {
    margin-right: 0.5rem;
}
