// Colors
$colorPrimary: #eb2f64;
$colorPrimaryLight: #ff3366;
$colorPrimaryDark: #ba265d;
$colorGreyLight-1: #faf9f9;
$colorGreyLight-2: #f4f2f2;
$colorGreyLight-3: #f0eeee;
$colorGreyLight-4: #ccc;
$colorGreyDark-1: #333;
$colorGreyDark-2: #777;
$colorGreyDark-3: #999;
$colorWhite: #fff;
$shadowDark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadowLight: 0 2rem 5rem rgba(0, 0, 0, 0.06);
$line: 1px solid $colorGreyLight-2;

$bp-largest: 75em; // 120rem
$bp-large: 68.75em; //110rem;
$bp-medium: 56.25em; //90rem;
$bp-small: 37.5em; // 60rem;
$bp-smallest: 31.5em; // 50rem
